fileReader/venv
.idea/
build/
cmake-build-debug/
*__pycache__*
.vscode/
debugProject/
fileReader/.vscode/
fileReader/c-julia-compare-single-file.sh
fileReader/c-julia-compare.sh
fileReader/clion-executable.sh
fileReader/compile.sh
fileReader/ctdnw.txt
fileReader/list-of-files.sh
fileReader/log_c.txt
fileReader/log_julia.txt
fileReader/run_propagation_c_julia.py
src/kernels/CMakeLists.txt
src/kernels/csr.sh
src/kernels/csr_data
src/kernels/csr_data_build/