fileReader/venv
.idea/
build/
cmake-build-debug/
*__pycache__*
.vscode/
debugProject/
fileReader/.vscode/
fileReader/c-julia-compare-single-file.sh
fileReader/c-julia-compare.sh
fileReader/clion-executable.sh
fileReader/compile.sh
fileReader/ctdnw.txt
fileReader/list-of-files.sh
fileReader/log_c.txt
fileReader/log_julia.txt
fileReader/run_propagation_c_julia.py
src/kernels/CMakeLists.txt
src/kernels/csr.sh
src/kernels/csr_data
src/kernels/csr_data_build/
fileReader/sequential_propagator_julia_MultiFloats/csr_matrix_example
fileReader/sequential_propagator_julia_MultiFloats/csr_matrix_generator.py
fileReader/sequential_propagator_julia_MultiFloats/csr_data_file.csv
fileReader/sequential_propagator_julia_MultiFloats/csr_to_csc_data.jl
fileReader/sequential_propagator_julia_MultiFloats/DataFromCases.jl
fileReader/sequential_propagator_julia_MultiFloats/example_list.txt
fileReader/sequential_propagator_julia_MultiFloats/HighPrecisionResult.txt
fileReader/sequential_propagator_julia_MultiFloats/mat_generator.ipynb
fileReader/sequential_propagator_julia_MultiFloats/out.csv